@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[contenteditable] {
  outline: 0 solid transparent;
}

.yellow {
  background-color: rgba(238, 214, 136, 0.5);
  transition: 0.5s;
}

.hide {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin-top: 30px;
}

#clear {
  margin: 16px;
  font-size: 16px;
  color: #000;
  opacity: 0.6;
}

#clear:hover {
  text-decoration: underline;
  opacity: 1;
  cursor: pointer;
}

li {
  list-style: none;
}

#wrapper {
  width: 30%;
  margin: auto;
  box-shadow: 2px 2px 10px 2px #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#wrapper > ul li {
  border-bottom: 1px solid #ccc;
}

#wrapper > ul > li:last-child {
  border: none;
  padding: 15px;
}

#wrapper > ul ul li:last-child {
  border-bottom: none;
}

#title,
form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

#title {
  padding: 15px;
}

.list i {
  padding: 15px;
  opacity: 0.5;
}

i:hover {
  cursor: pointer;
  opacity: 1;
}

form {
  padding-right: 15px;
}

#title i {
  color: #333;
}

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.list div {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 15px;
}

.list p {
  font-size: 15px;
  padding: 15px 0;
  width: 100%;
  opacity: 0.8;
}

form input[type="text"] {
  border: none;
  font-size: 15px;
  font-style: italic;
  opacity: 0.8;
  width: 80%;
  padding: 15px 0 15px 15px;
}

form input[type="text"]::placeholder {
  font-style: italic;
  color: #333;
  opacity: 0.6;
}

form input:focus {
  outline: none;
}

/* submit button */
#btn {
  background-color: #fff;
  border: none;
}

#btn:hover,
input[type="checkbox"] {
  cursor: pointer;
}

#btn i {
  padding-right: 4px;
}

.line {
  text-decoration: line-through;
  color: rgb(153, 153, 153);
}

li input[type="checkbox"] {
  margin-right: 15px;
}
